nav ul{
        display: flex;
        justify-content: space-around; 
        list-style: none;
        padding: 50px;
        background-color: rgb(61, 60, 60);
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 10px;

}
nav ul li a{
    display: block;
    padding:10px 15px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    font-weight: 500;

}

nav ul li a:hover{
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
}


body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}



header {
    display: block;
}
header  span{
    color: #ffffff;
    font-weight: 400;
    justify-content: center;
    font-size: 2.5rem;
    color: #333;
    display: flex;
      background-color: rgb(94, 94, 184);
}

footer{
    display: block;
}

span{
    display: block;
    text-align: center; 
}

footer p {
    text-align: center;
}

main h1{
    display: grid;
    place-items: center;
    grid-column: 1 / -1;
    color:rgb(70, 70, 104);
    font-weight: 400;
}

.card{
    border: 1px solid #ccc;
}



