@media screen and (min-width: 500px){
    header {
        background-color: rgb(123, 175, 151);
        color: #ffffff;
        margin: 0 158px;;

    }
    header nav ul li a{
        background-color: rgb(123, 175, 151);
        color: #ffffff;

    }

}