header {
    display: flex;
    justify-content: space-evenly;
}

header nav ul{
    display: flex;
    list-style: none;
    gap:30px;

}


nav ul li a:hover{
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    transition: all 1.0s ease;
    
}




body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

main {
   background-color: aliceblue;
   max-width: 950px;
   margin:0 auto;
   padding:30px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 25px;
}

main h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

main img{
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

